
body{background-image: url("img/back02.png"); color: black; font-family: sans-serif;}

a{color:white; text-decoration:none;}

a:hover{color: red; text-decoration:none;}

div.encabezado {clear:both; width:1080px; margin:auto;}

div.menu{color:white; font-weight:bold; clear:both; width:100%; margin:auto; text-align:center; font-size: 22px;}

div.izquierda {float: left; padding: 10px 10px 0px 10px;}

div.centro{color:white;	clear:none; width:100%px; text-align:justify; font-size:20px; margin:auto;}

.imagen{padding:0px 10px 8px 0px;}

div.pie{width:1080px; clear:both;}

label{display:block; float:left; width:100px;}

div.derecha {float:right; color:white; font-weight:bold; padding: 10px 10px 0px 0px;}

input.derech{float:right;}

table, td, th {border: none; background-color: none; color: white;}

h2{float:center; text-decoration:underline; color:red; text-align:left;}
h4{padding: 0px 0px 0px 0px; text-align: center;}
.proveedores{vertical-align: top; text-decoration:none; color:red; text-align:left; font-size:20px; font-weight:bold;}

.img_prov{width:100px; height:100px; padding:0px 10px 0px 0px;}
.caratula{width:110px; height:110px; padding:0px 0px 0px 0px;}
.center{float:center; text-decoration:none; color:white; text-align:center; margin:auto; font-weight:bold;}
ul{color: white; font-weight:normal ; font-size: 18px; }
.menu{width:100%;}
.portada{width:300px; height:300px;}
#listado {width: 45%; float: right; }
ol li{font-size: 14px;}
#caratula{float: left; display: inline; width: 55%;text-align: center;}
.logoAcordeon{width:400px; height:210px; padding: 100px 50px 50px 220px}
#caratulaAcordeon{float: none; display: inline; margin: auto; width: 100%}
div.demo{width:1080px;margin:auto;}
div.cuerpo{width:100%;margin:auto}
.hoja1{height:200px}
/*--------------------------para catalogo-------------------------------------*/


div.tabla {
  margin-left: 0;
  width:90%;
}

div.elcatalogo{
    width:100%;
}

div.productoSeleccionado{
	margin:25px 25px 25px 25px;
}

table.delCatalogo{
    border:1px solid brown;
    background-color:beige;
    border-collapse:collapse;  
}

thead.delCatalogo{   
    font-family: serif;
    color:black;
    background-color:gray;
}

th.tapa{
    width: 57px; 
	color:black;	
}
th.genero{
    width: 102px;  
	color:black;	
}
th.interprete{
    width: 225px;  
	color:black;
}

th.disco{
    width: 225px; 
	color:black;
}

th.anio{
    width: 52px; 
	color:black;
}

td.delCatalogo{    
    padding: 15px;
    color:black;
    border: 1px solid brown; 
    
}

td.anio{
    text-align:right;
    padding: 15px;
    color:black;
    border: 1px solid brown; 
}

div.panelOrdenCatalog{
	width:10%;
	float:left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 100px;
	color:white;
	text-align: center;
}

.botones{
    width:100px;
    height:100px;
    margin-left: 10px;
    margin-right: 10px;
}

div.marquesina{
	width:800px; 
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
}

a.a_prodSelecc{    
    color:blue;    
}

.error{background: #FEF1EC; border: 2px solid #CD0A0A; color: #CD0A0A}
/*-------------------------------------------------------------------*/

